body {
  background-color: #243946;
}

.container {
  height: 90vh;
  width: 99vw;
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.card {
  max-height: 600px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffff;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px #ffffff;
}

.facts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 36px;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px 0 12px 0;
  width: 80%;
  text-align: center;
}

.number-input {
  font-size: 22px;
  border-radius: 50px;
  color: #243946;
  border-color: #ffffff;
  width: 100px;
  height: 50px;
  padding: 0px 8px 0px 8px;
}

.btn {
  width: 150px;
  height: 40px;
  font-size: 22px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  position: absolute;
  bottom: 120px;
}

.btn:hover {
  background-color: #ffffff;
  color: #243946;
  border-color: #ffffff;
}

.card-get-all-users-container {
  width: 800px;
}

.get-all-users-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  height: 75%;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.users-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 50px;
}
